/*
// Examples Stylesheet
// -------------------
*/
/***************************************************************************************************
 *  VARIABLES
 **************************************************************************************************/
/***************************************************************************************************
 *  LAYOUT
 **************************************************************************************************/
html,
body,
#app,
.react-admin-fixed-layout {
  height: 100%;
  width: 100%;
}
.react-admin-fixed-layout-navbar {
  height: 51px;
}
.react-admin-fixed-layout-body {
  height: calc(100% - 51px);
}
.react-admin-fixed-layout-content {
  width: calc(100% - 125px);
}
.react-admin-fixed-layout-menu,
.react-admin-fixed-layout-content,
.react-admin-fixed-layout-sidebar,
.react-admin-fixed-layout-main {
  float: left;
  height: 100%;
}
.react-admin-fixed-layout-header {
  margin-left: 125px;
  padding: 1px;
}
.react-admin-fixed-layout-menu {
  width: 125px;
}
.react-admin-fixed-layout-sidebar {
  width: 500px;
}
.react-admin-fixed-layout-main {
  width: 100%;
}
.react-admin-fixed-layout-sidebar ~ .react-admin-fixed-layout-main {
  width: calc(100% - 500px);
}
